<div class="container mt-5">
    <div *ngIf="!registerMode" style='text-align: center;'>
        <h1>Encontre alguem!</h1>
        <p class="lead">Entre para ver seus matches... basta se cadastrar!</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Cadastrar</button>
            <button class="btn btn-info btn-lg">Saiba mais</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>